body{
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 9));
}
#consult{
   
    max-width: 250px;
    text-align: center;
    margin: 100px auto;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    color:white;
    transition:all 1s;
}
#cep{
    text-align: center;
    padding: 10px 0px;
    font-size: large;
    border-radius: 10px;
    background-color: aliceblue;
   outline: none;
}
#cep:focus{
    background-color: #FFE4c4; 
}


#btn{
   
    padding: 10px 20px;
    color:white;
    background-color: #00008b;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
}
#btn:hover{
    background-color: #191970;
}
#box{
    position:relative;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center; 
    font-weight: bold;
    border-radius: 10px;
    max-width: 250px;
    margin: 0 auto;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    color:white;
    transition:all 1s;
}
#box:hover,#consult:hover{
    background: rgba(0, 0, 0, 1);
}
#cep:focus body{
    background-color: #00008b;
 } 
 #close{
    position:absolute;
    right:0;
    color:white;
    font-weight: bold;
    background-color: rgba(139, 0, 0, .5);
    border:none;
    border-radius: 10px;
    padding: 10px 20px;
 }
 #close:hover{
    background-color: rgba(139, 0, 0, 1);
    cursor:pointer;
 }